{% extends "AppBundle::layout.html.twig" %}
{% block body%}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-1 col-md-10">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">video_library</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">New Wallpaper Video</h4>
            {{form_start(form)}}
               <div class="form-group label-floating ">
                  <label class="control-label">Wallpaper title</label>
                  {{form_widget(form.title,{"attr":{"class":"form-control"}})}}
                  <span class="validate-input">{{form_errors(form.title)}}</span>
              </div>
              <div class="form-group label-floating ">
                  <label class="control-label">Wallpaper description</label>
                  {{form_widget(form.description,{"attr":{"class":"form-control"}})}}
                  <span class="validate-input">{{form_errors(form.description)}}</span>
              </div>
              <img src="{{asset(form.vars.value.media.link)}}" class="fileinput-preview thumbnail " id="img-preview">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput" style="width: 100%;">
                    <div>
                        <a href="#" class="btn btn-rose btn-round btn-select" style="width: 100%;margin:0px;"><i class="material-icons">image</i> Select Image</a>
                    </div>
                    {{form_widget(form.file,{"attr":{"class":"file-hidden input-file img-selector","style":"   /* display: none; */height: 0px;width: 0px;position: absolute;"}})}}
                    <span class="validate-input">{{form_errors(form.file)}}</span>
               </div>
               <br>
              <video autobuffer autoloop loop controls width="100%">
                <source id="video_here" src="{{asset(form.vars.value.video.link)}}">
                <source id="video_here" src="{{asset(form.vars.value.video.link)}}">
                <object type="video/ogg" data="{{asset(form.vars.value.video.link)}}">
                  <param name="src" value="{{asset(form.vars.value.video.link)}}">
                  <param name="autoplay" value="false">
                  <param name="autoStart" value="0">
                  <p><a href="{{asset(form.vars.value.video.link)}}">Download this video file.</a></p>
                </object>
              </video>
                      <div class="text-center"  style="width: 100%;">
                         
                          <div>
                              <a href="#" class="btn btn-rose btn-round select-video" style="width: 100%;"><i class="material-icons">videocam</i> Select Video</a>
                          </div>
                          {{form_widget(form.filevideo,{"attr":{"class":"input-video","style":"   /* display: none; */height: 0px;width: 0px;position: absolute;"}})}}
                          <span class="validate-input">{{form_errors(form.filevideo)}}</span>
                     </div>
                      <br>
               <br>
              <div class="">
                    <label>
                      {{form_widget(form.premium)}}  Premium wallpaper
                    </label>
              </div>
              <div class="">
                    <label>
                      {{form_widget(form.enabled)}}  Enabled
                    </label>
              </div>
              <div class="">
                    <label>
                      {{form_widget(form.comment)}}  Enabled Comment
                    </label>
              </div>
              <div class="form-group label-floating ">
                  <label class="control-label">Wallpaper color</label>
                  {{form_widget(form.color,{"attr":{"class":"color-input jscolor"}})}}
                  <span class="validate-input">{{form_errors(form.color)}}</span>
              </div>
              <br>
              {{form_label(form.categories,null,{label_attr:{"style":"font-size:16px"}})}} :
              <div>
                 {% for field in form.categories %}
                      <label   class="color-label" >
                          <span class="color-label-checkbox" >{{ form_widget(field) }}</span ><span class="color-label-text">{{ field.vars.label }}</span>
                      </label>
                  {% endfor %}
              </div>
              <br>
              {{form_label(form.colors,null,{label_attr:{"style":"font-size:16px"}})}} :
              <div>
                 {% for field in form.colors %}
                      <label   class="color-label" style="background: #{% for color in colors %}{% if color.id == field.vars.value %}{{color.code}}{% endif %}{% endfor %}">
                          <span class="color-label-checkbox" style="background: #{% for color in colors %}{% if color.id == field.vars.value %}{{color.code}}{% endif %}{% endfor %}">{{ form_widget(field) }}</span ><span class="color-label-text">{{ field.vars.label }}</span>
                      </label>
                  {% endfor %}
              </div>
              <br>
              {{form_label(form.packs,null,{label_attr:{"style":"font-size:16px"}})}} :
              <div>
                 {% for field in form.packs %}
                      <label   class="color-label" >
                          <span class="color-label-checkbox" >{{ form_widget(field) }}</span ><span class="color-label-text">{{ field.vars.label }}</span>
                      </label>
                  {% endfor %}
              </div><br>
                <div class="form-group label-floating ">
                    <label class="control-label">Wallpaper tags (Ex:anim,art,hero)</label>
                    <br>
                    {{form_widget(form.tags,{"attr":{"class":"input-tags"}})}}
                    <span class="validate-input">{{form_errors(form.tags)}}</span>
                </div>
                <script>
                $('.input-tags').selectize({
                  persist: false,
                  createOnBlur: true,
                  create: true
                });
                </script>
              <div class="form-group label-floating ">
                  <label class="control-label">Wallpaper resolution</label>
                  {{form_widget(form.resolution,{"attr":{"class":"form-control"}})}}
                  <span class="validate-input">{{form_errors(form.resolution)}}</span>
              </div>
              <div class="form-group label-floating ">
                  <label class="control-label">Wallpaper size</label>
                  {{form_widget(form.size,{"attr":{"class":"form-control"}})}}
                  <span class="validate-input">{{form_errors(form.size)}}</span>
              </div>
              <span class="pull-right"><a href="{{path("app_wallpaper_index")}}" class="btn btn-fill btn-yellow"><i class="material-icons">arrow_back</i> Cancel</a>{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-rose"}})}}</span>
            {{form_end(form)}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}