{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<a href="{{path("app_pack_index")}}" class="btn  btn-lg btn-warning col-md-12"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
					</div>
					<div class="col-md-4">
						<a class="btn btn btn-lg btn-yellow col-md-12"><i class="material-icons" style="font-size: 30px;">inbox</i> {{packs|length}} Packs</a>
					</div>
					<div class="col-md-4">
						<a href="{{path("app_pack_add")}}" class="btn btn-rose btn-lg pull-right add-button col-md-12" title=""><i class="material-icons" style="font-size: 30px;">add_box</i> NEW PACK </a>
					</div>
				</div>
				<div class="row">
				{% for pack in packs %}
					<div class="col-md-4">
						<div class="card">
							<div class="card-content" style="text-align: left;height: 209px;padding: 0px;background: black;border-top-left-radius: 10px;border-top-right-radius: 10px;">
								<i class="material-icons" style="font-size: 64px;color: white;">inbox</i>
								<br>
								<span class="label-lang">{{pack.title}}</span>
							</div>
							<div class="card-footer" style="    text-align: center;">
								<a href="{{path("app_pack_edit",{"id":pack.id})}}" rel="tooltip" data-placement="left" class=" btn btn-primary btn-xs btn-round" data-original-title="Edit">
									<i class="material-icons">edit</i>
								</a>
								<a href="{{path("app_pack_delete",{"id":pack.id})}}" rel="tooltip" data-placement="left" class=" btn btn-danger btn-xs btn-round" data-original-title="Delete">
									<i class="material-icons">delete</i>
								</a>
							</div>
						</div>
					</div>
				{% else %}
				<div class="col-md-12">
					<center><img src="{{asset("img/bg_empty.png")}}"  style="width: 100% !important;" =""></center>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
		
	{% endblock%}